#
OPENROUTER_API_KEY=Your key here
#
NEXT_PUBLIC_SUPABASE_URL=Your uel here
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=Your key here
# Deprecated?
SUPABASE_ANON_KEY=Your key here
# SERVICE
SUPABASE_KEY=Your key here

# Frontend URL for CORS and redirects
FRONTEND_URL=http://localhost:3000
